/*###################################################identation and horizontal alignment#############################*/
/*==========indenting text*/
/*p {*/
    /*text-indent:3em;*/
/*}*/
/*p {*/
    /*text-indent:-4em;*/
    /*padding-left: 4em;*/
/*}*/
div {
    width:400px;
}
p{
    text-indent:10%;
}
/*==========horizontal alignmentt*/
p {
    text-align: center;
}


/*###################################################vertical alignment    ##########################################*/
/*==========the line height of lines*/



/*###################################################word spacing and letter spacing#################################*/
/*==========absolute sizes*/



/*###################################################text decoration   #############################################*/
/*==========font with style*/


/*####################################################text shadows          ########################################*/


